* {
	font-family: 'Exo', sans-serif;
	margin: 1%;
}

body {
	background-color: #e7e7e7;
}

#sports_container {
	font-size: 0;
	display: flex;
}

.sport {
	color: #222;
	background-color: #fff;
	display: inline-block;
	border-style: solid;
	border-radius: 2%;
	margin: 0;
	padding: 0;
	height: 250px;
	text-align: center;
	font-size: 16px;
}

.sport p {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.sport:hover {
	color: #666;
}

.sport:active {
	box-shadow: 0 1px 0 #00823F;
    bottom:-2px;
}

.logo {
	max-height: 150px;
	max-width: 150px;
}

#college_basketball, #nba_basketball, #college_basketball_womens {
}

#college_football, #nfl_football {
}

#nhl_hockey {
}

#mlb_baseball {
}

#standings, #last_calculated {
	display: block;
	padding-left: 5%;
	padding-right: 5%;
}

#learn-more {
	font-weight: bolder;
}

.top {
	font-size: 32px; 
	font-weight: bolder;
}