* {
	font-family: 'Exo', sans-serif;
	margin: 1%;
}

body {
	background-color: #e7e7e7;
}

#sports_container {
	font-size: 0;
	display: flex;
}

.sport {
	color: #222;
	display: inline-block;
	border-style: solid;
	border-radius: 2%;
	margin: 0;
	height: 200px;
	text-align: center;
	font-size: 16px;
}

.sport p {
	display: table-cell;
	height: 200px;
	width: 200px;
	vertical-align: middle;
}

.sport:hover {
	color: #666;
}

.sport:active {
	box-shadow: 0 1px 0 #00823F;
    bottom:-2px;
}

#college_basketball, #nba_basketball, #college_basketball_womens {
	background-color: #e33;
}

#college_football, #nfl_football {
	background-color: #3e3;
}

#nhl_hockey {
	background-color: #33e;
}

#mlb_baseball {
	background-color: #f9f;
}

#standings, #last_calculated {
	display: block;
	padding-left: 5%;
	padding-right: 5%;
}

#learn-more {
	font-weight: bolder;
}

.top25 {
	font-size: 32px; 
	font-weight: bolder;
}