body {
	width: 100%;
}

.rank-container {
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	max-width: 750px;
	height: 100px;
	overflow: hidden;
}

.rank-row {
	height: 100%;
}

.rank-conference-logo-container {
	height: 100%;
}

.conference-logo {
	margin-top: 10%;
	max-width: 100%;
	max-height: 30%;
}

.team-logo {
	max-height: 100%;
	max-width: 100%;
}

.league-container {
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	/*
	width: 100px;
	*/
	height: 100px;
	overflow: hidden;
	margin: 5px;
	padding: 0;
}

.league-link {
	width: 100%;
	height: 100%;
	display: flex;
}

.league-logo {
	margin: auto auto;
	max-height: 100%;
	max-width: 100%;
}